.ContentHeader{
    z-index: 999;
    float: left;
    width: 100%;
    height: 55px;
    background: #780000;
    position: fixed;
    top: 0;
}
.LinkHeader{
	color: #000;
	text-decoration: none;
    text-decoration-color: -moz-use-text-color;
    text-decoration-line: none;
    text-decoration-style: solid;
}